[Desktop Entry]
Name=Nano
Comment=Nano text editor
Comment[bg]=Nano текстов редактор
Comment[ca]=L'editor de text Nano
Comment[cs]=Textový editor Nano
Comment[da]=Nano tekstbehandleren
Comment[de]=Der Texteditor Nano
Comment[el]=Επεξεργαστής κειμένου Nano
Comment[es]=Editor de textos Nano
Comment[et]=Tekstiredaktor Nano
Comment[eu]=Nano testu editorea
Comment[fi]=Nano-editori
Comment[fr]=Editeur de texte Nano
Comment[ga]=Eagarthóir Teacs Nano
Comment[gl]=Editor de texto Nano
Comment[hu]=Nano szövegszerkesztő
Comment[it]=Editor di testo Nano
Comment[ja]=Nanoテキストエディタ
Comment[ko]=이맥스 문서 편집기
Comment[nl]=Nano tekst editor
Comment[no]=Teksteditoren Nano
Comment[pl]=Edytor tekstu Nano
Comment[pt]=Editor de texto Nano
Comment[pt_BR]=Editor de texto Nano
Comment[ru]=Текстовый редактор Nano
Comment[sv]=Nano texteditor
Comment[tr]=Nano metin editörü
Comment[uk]=Текстовий редактор
Comment[wa]=L' aspougneu di tekse Nano
Comment[zh_CN]=Nano 文字编缉器
Comment[zh_TW]=Nano 文字編緝器
Icon=nano.png
Exec=nano
Terminal=true
Type=Application 
Encoding=UTF-8
# vi: encoding=utf-8
